<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http://www.garmin.com/xmlschemas/ActivityExtension/v2</key>
	<dict>
		<key>prefix</key>
		<string>AX</string>
		<key>qualified</key>
		<true/>
	</dict>
	<key>http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2</key>
	<dict>
		<key>prefix</key>
		<string>TCX</string>
		<key>qualified</key>
		<string>YES</string>
	</dict>
</dict>
</plist>
